/* You can add global styles to this file, and also import other style files */

div.debug {
    border-width: 1px;
    border-style: solid;
    border-color: chocolate;
    background-color: cornsilk;
    padding: 5px;   
}

body {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    height: 100%;
    margin: 0;
}

.navbar a, .navbar a:visited {
    text-decoration: none;
    color: var(--main-text-color);
}

.navbar a:hover {
    color: var(--light-text-color);
}

a {
    color: var(--link-color);
}

a:hover, a:focus {
    color: var(--link-hover-color);
    text-decoration: underline;
}

.tab-pane {
    padding-top: 1.25rem;
}

.navbar-brand {
    font-size: 20px;
}

.navbar-inverse {
    background-color: var(--navbar-background-color);
    background-color: var(--navbar-background-color);
    background-image: -moz-linear-gradient(top, var(--navbar-background-color-start),var(--navbar-background-color-end));
    background-image: -webkit-gradient(linear,0 0,0 100%,from(var(--navbar-background-color-start)),to(var(--navbar-background-color-end)));
    background-image: -webkit-linear-gradient(top,var(--navbar-background-color-start),var(--navbar-background-color-end));
    background-image: -o-linear-gradient(top,var(--navbar-background-color-start),var(--navbar-background-color-end));
    background-image: linear-gradient(to bottom,var(--navbar-background-color-start),var(--navbar-background-color-end));
    background-repeat: repeat-x;
    border-color: var(--navbar-border-color);
    border-width: 1px;
    border-style: solid;
    height: 41px;
}

.well {
    padding: 19px;
    margin-bottom: 20px;
    background-color: var(--filter-background-color);
    border: 1px solid var(--filter-border-color);
    border-radius: 4px;
}