#editContainer {
    position: fixed;
    bottom: 0;
    background-color: white;
    left: 0;
    right: 0;
    padding: 0.5em;
    font-size: x-small;
}

.selected {
    border-color: darkblue;
    background-color: lightskyblue;
    color: black;
    opacity: 1;
}

#images {
    padding-bottom: 300px;
}

.thumbnail {
    display: inline-block;
}

h3 {
    font-size: x-small;
    font-weight: bold;
}