:root {
    --main-text-color: slategrey;
    --darker-text-color: darkslategrey;
    --main-background-color: black;
    --light-text-color: white;
    --link-color: #08c;
    --link-hover-color: #005580;

    --navbar-background-color: #1b1b1b;
    --navbar-background-color-start: #222;
    --navbar-background-color-end: #111;
    --navbar-border-color: #252525;

    --filter-background-color: #f5f5f5;
    --filter-border-color: #e3e3e3;

    --background-image: url('/assets/img/background.jpg');
    --home-text-background-color: rgba(0, 0, 0, 0.5);

    --announcement-background-color: #7d7d7d;
    --announcement-text-color: black;
}