<app-header></app-header>
<div class='background'>
    <div id='home'>
        <div class='container'>
            <div class='row'>
                <div class='col-sm'>
                    <app-welcome></app-welcome>
                    <app-news></app-news>

                    <hr/>
                    <div>
                        Thanks to all of our <a href='/contributors'>amazing contributors!</a>
                    </div>
                    <hr/>
                    <div>
                        Enjoy the site? Here are a few ways you can help:
                        <ul>
                            <li>Submit images. <a routerLink="/submitImages">See here for more details</a></li>
                            <li>Submit translation fixes (or more languages!) <a routerLink="/translate">here</a></li>
                            <li>Submit bugs to <a href='mailto:artomizer@sketchdaily.net'>artomizer@sketchdaily.net</a> (or message <a href='https://www.reddit.com/message/compose/?to=artomizer'>/u/artomizer</a> on Reddit)</li>
                            <li><a href='https://ko-fi.com/artomizer'>Make a small donation</a> so I can <span class='strike'>buy
                                    a boat</span> keep the site up and running</li>
                            <li>Fix bugs and add new features on <a href='https://github.com/faintpixel/skdRefSite'>github</a></li>
                        </ul>

                    </div>

                </div>
                <div class='col-sm'>
                    <app-reference-filters></app-reference-filters>
                </div>
            </div>
        </div>
    </div>
</div>