h1 {
    font-size: 12pt;
    font-weight: bold;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    line-height: 40px;
}

.date {
    font-size: smaller;
    font-style: italic;
    margin-left: 15px;
}

.content {
    margin-bottom: 10px;
}

.newsSeperator {
    border-color: darkslategray;
    border-style: dotted;
    opacity: 0.7;
}

.pageControls {
    font-size: small;
}

.pageControls a {
    padding-right: 10px;
}

#announcement {
    background-color: var(--announcement-background-color);
    border-radius: 6px;
    padding: 5px;
    color: var(--announcement-text-color);
}

.header fa-icon {
    padding-right: 6px;
}