<h1>{{'News.WhatsNew' | translate}}</h1>

<div *ngIf="announcement != ''" id="announcement">
    <div>
        <div class="header">
            <fa-icon icon="exclamation-circle"></fa-icon>
            <b>{{'News.Announcement' | translate}}: </b>
        </div>
        <span [innerHTML]="announcement"></span>
    </div>
</div>

<div *ngFor="let entry of news; let lastItem = last;">
    <span class='title'><b>{{entry.title}}</b></span>
    <span class='date'>{{entry.date | date : "MMMM d, y"}}</span>
    <div [innerHTML]="entry.content" class='content'></div>
    <hr class='newsSeperator' *ngIf="!lastItem" />
</div>

<div class='pageControls'>
    <a href='javascript:void(0);' (click)="showOlderNews()" *ngIf="news.length === limit">&lt; Older</a>
    <a href='javascript:void(0);' (click)="showNewerNews()" *ngIf="offset != 0">Newer &gt;</a>
</div>