<app-header></app-header>
<div class='container'>
  <div>
    <h1>Contributors</h1>

    This site wouldn't be possible without the support of our amazing community. People have contributed in a variety
    of ways, and it's all hugely appreciated.

    <div class='category'>
      <h1>Development & Bug Fixes</h1>

      <ul>
        <li>Artomizer</li>
        <li>DavidWinters</li>
      </ul>
    </div>

    <div class='category'>
      <h1>Graphics</h1>
      <ul>
        <li>H_AK</li>
        <li>Skitchbot</li>
      </ul>
    </div>

    <div class='category'>
      <h1>Images</h1>
      There are too many photographers and models to list here, but these are without a doubt the most vital contributors we have. No images
      means no site, so I encourage all of you to occasionally poke through the info screen for images you like and
      support the photographers however you can.
    </div>

    <div class='category'>
      <h1>Translations</h1>

      <h2>Chinese</h2>
      <ul>
        <li>Lin</li>
      </ul>

      <h2>Czech</h2>
      <ul>
        <li>Samantha-dragon</li>
        <li>Dreit</li>
      </ul>

      <h2>Dutch</h2>
      <ul>
        <li>Wellalla</li>
        <li>SchabrechtsK</li>
        <li>JessedePug</li>
        <li>marieke</li>
      </ul>

      <h2>French</h2>
      <ul>
        <li>Charlotte</li>
        <li>Pyoh</li>
        <li>thais</li>
        <li>Jolie-Marie</li>
        <li>Joana</li>
      </ul>

      <h2>German</h2>
      <ul>
        <li>Bernd Schmitz</li>
        <li>irukard</li>
        <li>Jamelin</li>
        <li>Powerspank</li>
      </ul>

      <h2>Hebrew</h2>
      <ul>
        <li>flypo</li>
      </ul>

      <h2>Hungarian</h2>
      <ul>
        <li>Private Coppery</li>
      </ul>

      <h2>Japanese</h2>
      <ul>
        <li>CRN</li>
      </ul>

      <h2>Korean</h2>
      <ul>
        <li>prixt</li>
      </ul>

      <h2>Norwegian</h2>
      <ul>
        <li>pigie</li>
      </ul>

      <h2>Polish</h2>
      <ul>
        <li>Tośka Świetlana</li>
      </ul>

      <h2>Portuguese</h2>
      <ul>
        <li>Guilherme Monção</li>
        <li>Hélder</li>
        <li>LeoVinicius</li>
        <li>FourEyes</li>
      </ul>

      <h2>Russian</h2>
      <ul>
        <li>H_AK</li>
        <li>curtistruffle</li>
        <li>Игорь</li>
        <li>OLHA</li>
        <li>dappy</li>
      </ul>

      <h2>Spanish</h2>
      <ul>
        <li>@zJorge</li>
        <li>anaiD37</li>
        <li>caguaidesuflan</li>
        <li>Haru</li>        
        <li>Mari</li>
        <li>Sergio Roda</li>       
        <li>Piero Bertoni</li> 
      </ul>

      <h2>Swedish</h2>
      <ul>
        <li>@uddaida</li>
        <li>Bewinged</li>
        <li>Figauro</li>
      </ul>

      <h2>Thai</h2>
      <ul>
        <li>AquaNoixl</li>
      </ul>

      <h2>Turkish</h2>
      <ul>
        <li>hm</li>
        <li>mavi</li>
      </ul>
    </div>

    <div class='category'>
      <h1>Donors</h1>
      Thanks to everyone who has made a donation. Currently it's all going towards hosting fees, but there are
      plans to try and push it towards more exciting things for the community like additional translations, giveaways, or a SkD yacht.
    </div>

    <div class='category'>
      Finally, the most extra special thanks to everyone who forgives me for forgetting to thank them here!
    </div>

  </div>
</div>