<div>
    <ul>
        <li>Allowed file types: jpg, png</li>
        <li>Max file size: 5mb</li>
        <li>Recommended max images per upload batch: 25</li>
    </ul>
</div>

<input type="file" ng2FileSelect [uploader]="uploader" multiple accept=".jpg,.png" />

<h3>Upload queue</h3>
<p>Queue length: {{ uploader?.queue?.length }}</p>

<table class="table">
    <thead>
        <tr>
            <th width="50%">Name</th>
            <th>Size</th>
            <th>Progress</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of uploader.queue">
            <td><strong>{{ item?.file?.name }}</strong></td>
            <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
            <td *ngIf="uploader.isHTML5">
                <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                </div>
            </td>
            <td class="text-center">
                <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td nowrap>
                <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                </button>
            </td>
        </tr>
    </tbody>
</table>


<div>
    <div>
        Queue progress:
        <div class="progress">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
        </div>
    </div>
    <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
        <span class="glyphicon glyphicon-upload"></span> Upload all
    </button>
    <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
        <span class="glyphicon glyphicon-trash"></span> Remove all
    </button>
</div>


<div>
    <h1>Files successfully uploaded:</h1>
    <div *ngFor="let item of uploadedFiles">
        File: <a href='{{item.file}}'>{{item.file}}</a>
    </div>
</div>

<div class='debug'>
    {{batchInfo | json}}
</div>