<nav class='navbar navbar-inverse'>
  <div class='container'>
    <a class='navbar-brand' [routerLink]="['', languageService.language]">{{'Header.Title' | translate}}</a>
    <div>

      <select [(ngModel)]="selectedLanguage" (change)="changeLanguage()">
        <option *ngFor="let language of languageService.languages" [value]="language.code">{{language.name}}</option>
      </select>&nbsp;
      <app-login></app-login>

      <a href="javascript:void(0)" (click)="toggleCssMode()" id="cssModeSwitch"><fa-icon [icon]="cssModeIcon"></fa-icon></a>
      

    </div>

  </div>
</nav>