.navbar-brand {
    font-size: 20px;
}

.navbar-inverse {
    background-color: var(--navbar-background-color);
    background-color: var(--navbar-background-color);
    background-image: -moz-linear-gradient(top,var(--navbar-background-color-start),var(--navbar-background-color-end));
    background-image: -webkit-gradient(linear,0 0,0 100%,from(var(--navbar-background-color-start)),to(var(--navbar-background-color-end)));
    background-image: -webkit-linear-gradient(top,var(--navbar-background-color-start),var(--navbar-background-color-end));
    background-image: -o-linear-gradient(top,var(--navbar-background-color-start),var(--navbar-background-color-end));
    background-image: linear-gradient(to bottom,var(--navbar-background-color-start),var(--navbar-background-color-end));
    background-repeat: repeat-x;
    border-color: var(--navbar-border-color);
    border-width: 1px;
    border-style: solid;
    height: 41px;
    padding: 0;
    margin: 0;
}

select {
    background-color: var(--main-background-color);
    color: grey;
    
    border: none;
}

#cssModeSwitch {
    padding-left: 10px;
    padding-right: 5px;
}

