.referenceImage {
    max-height: 100%;
    max-width: 100%;
}

#image {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 66;
    left: 0;
    height: 100%;
    max-height: 100%;
    z-index: -10;
}

#nextImage {
    display: none;
}