<nav class='navbar navbar-inverse'>
  <div class='container'>
    <a class='navbar-brand' [routerLink]="['', languageService.language]">{{'Header.Title' | translate}}</a>

    <div id='controls'>
      {{'ImageViewer.Timer' | translate}}: <span *ngIf="loadingImage">Loading... </span><span *ngIf="!loadingImage">{{time.minutes}}:{{time.seconds
        | number:'2.0'}} </span> <span *ngIf="paused">({{'ImageViewer.Paused'
        | translate}})</span>

      <button (click)="previousImage()">
        <fa-icon icon="backward"></fa-icon>
      </button>
      <button (click)="togglePause()"><span *ngIf="!paused">
          <fa-icon icon="pause"></fa-icon>
        </span><span *ngIf="paused">
          <fa-icon icon="play"></fa-icon>
        </span></button>
      <button (click)="stop()">
        <fa-icon icon="stop"></fa-icon>
      </button>
      <button (click)="nextImage()">
        <fa-icon icon="forward"></fa-icon>
      </button>
      <button (click)="openModal(info)">
        <fa-icon icon="info-circle"></fa-icon>
      </button>
      <button (click)="openModal(about)">
        <fa-icon icon="question-circle"></fa-icon>
      </button>

      <div *ngIf="classInfo">
        {{'Filters.ClassMode' | translate}}: {{classInfo.breakdown[classIndex].current + 1}} /
        {{classInfo.breakdown[classIndex].count}} - {{classInfo.breakdown[classIndex].value}}.

        <span *ngIf="classInfo.breakdown[classIndex + 1] != null">
          {{'ImageViewer.Next' | translate}}: <span *ngIf="classInfo.breakdown[classIndex + 1]?.type=='break'">{{'Filters.Break'
            | translate}}: </span>{{classInfo.breakdown[classIndex
          + 1]?.value}}

        </span>
      </div>
    </div>
  </div>
</nav>

<div class='container' (document:keyup)="keyPressed($event)">
  <div id="infoAndImageSelection" *ngIf="!started">
    (TODO - translate)
    Select images to draw! Images are not uploaded to the server, and nobody else can see them.
    <br/><br/>
    <input type="file" #fileInput id="fileSelection" name="files" accept="image/png, image/jpeg, image/gif" multiple (change)="handleFileInput($event)" />

    <br/><br/>

    [class] [shuffle] [timer]

    <button class='btn btn-primary btn-block' (click)="start()">{{'Filters.Start' | translate}}</button>
  </div>

  <div id="image" *ngIf="imageFound() && started">
    <span *ngIf="!break">
      <img *ngFor="let url of imageUrls" [src]="url | safeResourceUrl" class='referenceImage' [@fadeOut]="fadeOut" (load)="imageLoaded()" />
    </span>
    <div *ngIf="break">
      <h2>{{'ImageViewer.TakeABreak' | translate}}</h2>
      {{'ImageViewer.ItsTimeForABreak' | translate}}
    </div>
  </div>

  <div *ngIf="!imageFound()">
    {{'ImageViewer.NoMoreImages' | translate}}
  </div>

</div>

<ng-template #classComplete let-c="close" let-d="dismiss">
  <div class='modal-header'>
    <h3>{{'ImageViewer.ClassComplete' | translate}}</h3>
  </div>
  <div class='modal-body'>
    {{'ImageViewer.NiceWork' | translate}}<br /><br />
    <span [innerHtml]="'ImageViewer.MaybeTakeABreak' | translate"></span>
  </div>
  <div class='modal-footer'>
    <button (click)="c()">{{'ImageViewer.Close' | translate}}</button>
  </div>
</ng-template>